*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
} 

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0;
}
p {
    font-size: 1.5rem;
}

span {
    font-size: 1rem;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "header" "main" "aside";
}

header {
    grid-area: header;
    display: flex;
    align-items: flex-end; 
    padding-left: 3rem;
}

.header__input { 
    flex: 1; 
    border-bottom: 1px solid black;
}

.header__button { 
    flex: 0;
}

.header__input input { 
    padding: .5em 1em; 
    width: 100%; 
    background: transparent;
    border: none;
}

.header__button button { 
    width: 100px;
    height: 100px;
    background-color: #a9cee1;
    margin-left: 3rem;
    white-space: nowrap; 
}

.fa-search {
    font-size: 2rem;
    color: black;
}

/*  .current    */

main { 
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
    background: beige;
}

.current__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    --gap: 2rem;
}



/*  .current__container items order */
.order1 {order: 1;}

.order2 {order: 2;}

.order3 {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current__container__item {
    width: max-content;
}

/*  aside   */

aside {
    grid-area: aside;
    overflow: auto;
    padding: 0 3rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.details__byhour {
    border-top: 1px solid black;
}
.details__byhour__container {
    margin-bottom: 2rem;
}

.details__byhour__container:nth-child(odd) {
    background-color: beige;
}

/*  @media  */



@media (min-width: 720px) {
    h1 {
        font-size: 8rem;
    }
    
    h2 {
        font-size: 4rem;
    } 
    
    h3 {
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem 0;
    }

    p {
        font-size: 2rem;
    }

    span {
        font-size: 1.5rem;
    }

    .row {
        margin-bottom: 2rem;
    }
    /*  .details .row container (weather by hour)*/
    .details__byhour__container {
        margin-bottom: 4rem;
    }

}

@media (min-width: 1000px) {
    h1 {
        font-size: 15rem;
    }
    
    h2 {
        font-size: 8rem;
    } 
    
    h3 {
        font-size: 3rem;
        font-weight: bold;
        padding: 2rem 0;
    }

    p {
        font-size: 3rem;
    }

    input {
        font-size: 2rem;
    }
    span {
        font-size: 2rem;
        font-weight: 500;
    }

    .row {
        margin-bottom: 2rem;
    }
    /*  .details .row container (weather by hour)*/
    .details__byhour__container {
        margin-bottom: 4rem;
    }

    img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 2000px) {
    h1 {
        font-size: 15rem;
    }
    
    h2 {
        font-size: 8rem;
    } 
    
    h3 {
        font-size: 3rem;
        font-weight: bold;
        padding: 2rem 0;
    }

    p {
        font-size: 3rem;
    }

    span {
        font-size: 2rem;
        font-weight: 500;
    }

    .row {
        margin-bottom: 2rem;
    }
    /*  .details .row container (weather by hour)*/
    .details__byhour__container {
        margin-bottom: 4rem;
    }

    img {
        width: 100px;
        height: 100px;
    }

    /*  chance the layout   */
    body {
        grid-template-columns: 60% 40%;
        grid-template-rows: auto 1fr;
        grid-template-areas: ".. header" "main aside";
    }
    main {
        
        align-items: flex-end;
    }
    .current__container {
        margin-bottom: 10rem;
    }
    .order1 {
        order: 2;
    }
    .order2 {
        order: 1;
    }
    .order3 {
        display: none;
    }
}

@media (min-width: 2600px) {
    .order3 {
        display: flex;
    }
}
